.heading3 {
    font-size: 40px;
}

.mainHeading {
    font-size: 60px;
}
header 
{
    height: 100vh;
}

.imgStyle {
    background-color: rgb(247, 247, 176);
    width: 60%;
    border: white solid 4px;
}

@media screen and (min-width:0px) and (max-width:576px) {

    .heading3,
    span {
        font-size: 16px !important;
    }

    .mainHeading {
        font-size: 20px;
    }

    .content {
        direction: ltr;
    }

    button {
        font-size: 11px !important;
    }

    .left {
        padding-block: 50px;
        text-align: start;


    }

    .right {
        margin: auto;
    }


}



@media screen and (min-width:576px) and (max-width:991px) {

    .heading3,
    span {
        font-size: 30px !important;
    }

    .mainHeading {
        font-size: 40px;
    }

    .content {
        direction: ltr;
    }

    button {
        font-size:14px !important;
    }

    .left {
        padding-block: 50px;
        text-align: start;

    }

    .right {
        margin: auto;
    }

    header 
    {
        height: 110vh;

    }
}



.content {
    direction: rtl;
}

.left,
.right {
    direction: ltr;
}

.linkStyle:hover {
    color: white !important;
}













* {
    margin: 0;
    padding: 0;
}

