
body {
  margin: 0;
  font-family: 'Martian Mono', monospace;
  overflow-x: hidden;

}
.positionStyle 
{
  right: 0%;
  top: 15%;
  z-index: 77777777777777777777777777777777;
}
.positionStyle:hover
{
  cursor: pointer;
}


body::-webkit-scrollbar 
{
  background-color: transparent;
}
body::-webkit-scrollbar-thumb
{
  background-color: #dc3545;
}


body::-webkit-scrollbar {
  width: 5px;
}



.linkStyle {
  min-height: 60px;
  border-radius: 5px;
  background-color: #8b222d;
}

.mainButton {
  min-height: 60px;
  left: -3px;
  bottom: -7px;
  position: absolute;
}

@media screen and (min-width:0px) and (max-width:576px) {
  .linkStyle {
      width: 125px;
  }

  .mainButton {
      width: 120px;
  }

}

@media screen and (min-width:577px) and (max-width:991px) {
  .linkStyle {
      width: 135px;
  }

  .mainButton {
      width: 130px;
  }

}

@media screen and (min-width:992px)  {
  .linkStyle {
      width: 145px;
  }

  .mainButton {
      width: 140px;
  }
}


